* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   text-align: center;
   font-family: Arial, sans-serif;
   background-color: #283149;
}

h1 {
   color: #CCC;
   text-shadow: 5px 5px #3f4;
}